.userCard{
    display: flex;
    width: 100%;
    padding: 1.5rem;
    align-items: center;
    gap: 5rem;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.086);
    border-radius: 10px;
    cursor: pointer;

}

.profilePicture {
  width: 53px;
  height:53px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
}

.profilePicture > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  display: block;

}

.connectedBtn{
    margin-left: 30rem;
    padding-inline: 0.8rem;
    padding-block: 0.5rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    background: white;
    color: rgba(3, 93,183, 0.905);
    outline: none;
    border: 1px solid rgba(3, 93,183, 0.905);
    border-radius: 10px;
    cursor: pointer;

}