.allUserProfile{
    max-width: 80%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    flex: 3;
    margin-left: 3rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;

}

.heading{
    margin-left: 3rem;
}

.userCard{
    width: 100%;
    display: flex;
    gap: 1.2rem;
    padding: 1.3rem;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  flex-shrink: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .userCard_image{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
} */
